<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    {{{body}}}
    <script src="js/bundle.js"></script>
    
    {{#if health-check}}
        <script>
            const healthCheck = {{{healthCheck}}}
        </script>
    {{/if}}
    

</body>
</html>