<form class="health-check">
    {{#each health-check.questions}} 
    <div class="health-check--question">
      <div>Question: {{question}} </div>
    </div>
    <div class="health-check--answers">
    {{>(renderPartial type) this}}
    </div>
    {{/each}}
   <input type="submit">
</form>

