<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-medium">Submit your response</h2>

        <form class="health-check">
            <ul class="questions">
              {{#each health-check.questions}} 
              <li class="health-check--question form-group">
                <legend>Question: {{question}} </legend>
                <div class="health-check--answers inline">
                {{>(renderPartial type) this}}
                </div>
              </li>
              {{/each}}
            <ul>
          <input class="button submit-response" type="submit" name="submit_form" id="submit_form">
        </form>

    </div>
</div>

