<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-medium">Your response has been submitted</h1>
        <hr>
        <h3 class="heading-medium"><a href="/health-check-response">Visit the response page.</a></h3>
    </div>
</div>