<div class="grid-row">
    <div class="column-full">
        <h2>User Responses</h2>
    </div>
</div>
<div class="grid-row">
    <div class="column-quarter">
        <form class="searchCriteria">
            <input type="text">
            <input type="text">
            <input type="submit">
        </form>
        <button class="csvDownload">download</button>
    </div>
    <div class="column-three-quarter">
        {{#each data}}
        <table class="user-response">
            <caption>Submitted - {{date}}</caption>
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Response</th>
                </tr>
            </thead>
            <tbody>
                {{#each userResponse}} 
                <tr>
                    <td>{{question}}</td>
                    <td>{{userResponse}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/each}}
    </div>
</div>
