<h1>User Responses</h1>

{{#each data}}
    <table  style="margin-bottom: 30px;">
        <caption><strong>Submitted - {{date}}</strong></caption>
        <thead>
            <tr>
                <th>Question</th>
                <th>Response</th>
            </tr>
        </thead>
        <tbody>
            {{#each userResponse}} 
            <tr>
                <td>{{question}}</td>
                <td>{{userResponse}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
{{/each}}
