<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-medium">User Responses</h2>
        <hr>
    </div>
</div>
<div class="grid-row ">
    <div class="column-quarter">
        <div class="form-group">
            <form class="searchCriteria">
                <div class="inline" style="margin-bottom: 8px;">  
                    <label class="form-label">Filter 1</label> 
                    <input class="form-control" type="text">
                </div>
                <div class="inline" style="margin-bottom: 8px;">
                    <label class="form-label">Filter 2</label> 
                    <input class="form-control" type="text">
                </div>
                <div class="inline" style="margin-bottom: 8px;">
                    <input class="button" type="submit" value="Filter">
                </div>
            </form>
        </div>
        <div class="form-group">
            <button class="csvDownload button">Download</button>
        </div>
    </div>
    <div class="column-three-quarter">
        {{#each data}}
        <table class="user-response">
            <caption>Submitted - {{date}}</caption>
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Response</th>
                </tr>
            </thead>
            <tbody>
                {{#each userResponse}} 
                <tr>
                    <td>{{question}}</td>
                    <td>{{userResponse}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/each}}
    </div>
</div>
